<div class="container">
    <br/>
    <div class='alert alert-info fade in' data-alert='alert'>
        <h3>
            <strong>
                <p>SpringBoot & AngularJS - CINQ TEST by Gabriel.</p>
            </strong>
        </h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Retrieve the Message of Day.</div>
        <div class="panel-body">
            <div>
                <p><a class="btn btn-primary btn-lg" ng-click="greetCtrl.retrieveMessage()" href="#" role="button">Get the Message</a></p>
            </div>
            <div ng-show="greetCtrl.message.description" class='alert alert-success fade in' data-alert='alert'>
                {{greetCtrl.message.description}}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Change the Message of Day.</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"><p><a class="btn btn-primary btn-lg" ng-click="greetCtrl.updateMessage()" href="#" role="button">Change the Message</a></p></div>
                <div class="col-md-9"><input type="text" class="form-control input-lg" style="height: 100%;text-align: left" ng-model="greetCtrl.newDescription"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Get the Message of Day By ID.</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"><p><a class="btn btn-primary btn-lg" ng-click="greetCtrl.retrieveMessageByID()" href="#" role="button">Get the Message By ID</a></p></div>
                <div class="col-md-9"><input type="number" class="form-control input-lg" style="height: 100%;text-align: left" ng-model="greetCtrl.idMessage"></div>
            </div>
            <div ng-show="greetCtrl.error" class='alert alert-warning fade in' data-alert='alert'>
                {{greetCtrl.error}}
            </div>
        </div>
    </div>
</div>
